@model SPL.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishName" class="control-label"></label>
                <input asp-for="EnglishName" class="form-control" />
                <span asp-validation-for="EnglishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountID" class="control-label"></label>
                <input asp-for="AccountID" class="form-control" />
                <span asp-validation-for="AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salutation" class="control-label"></label>
                <input asp-for="Salutation" class="form-control" />
                <span asp-validation-for="Salutation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InformalName" class="control-label"></label>
                <input asp-for="InformalName" class="form-control" />
                <span asp-validation-for="InformalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressType" class="control-label"></label>
                <input asp-for="AddressType" class="form-control" />
                <span asp-validation-for="AddressType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalAddressId" class="control-label"></label>
                <input asp-for="NationalAddressId" class="form-control" />
                <span asp-validation-for="NationalAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptiveAddress" class="control-label"></label>
                <input asp-for="DescriptiveAddress" class="form-control" />
                <span asp-validation-for="DescriptiveAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
